html, body{
    height: 100%;
    margin: 0;
    gap: 0;
    scroll-behavior: smooth;
    scrollbar-width: none;

}

body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    min-height: 200vh;
}

header {
  background-color: white; 
}

/* Gros Logo*/
.BoxBigLogo {
    height: 100vh; /* Doit correspondre à la valeur négative du top */
    display: flex;
    justify-content: center;
    align-items: center;
    animation: disparitionLogo linear both;
    animation-timeline: scroll();
    animation-range: 0px 100vh;
  /*
  background-color: #f1f1f1;
  */
}

.BigLogo {
    height: 100px; /* Taille de ton image géante */

}

/* NavBar */
.navBar {
    height: 60px; /* Hauteur de la barre qui reste */
    background-color: rgb(224, 224, 224); /* Fond noir pour le contraste */
    display: flex;
    align-items: center;
    padding: 0 20px;
    color: black;
    border-radius: 40px;
    border: 2px solid rgba(192, 192, 192, 0.616);
    box-shadow: 0px 4px 4px #797979;
    justify-content: space-between; 
    margin-top: 0;

    opacity: 0; 
    animation: apparitionLogo linear both;
    animation-timeline: scroll();
    animation-range: 0px 80vh;
}


/* Petit Logo  */
.LogoNav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    height: 40px; 
    width: auto;
}

.LogoNav1 {
    height: 40px;
}

.LogoNav2 {
    height: 20px;
}

/* L'animation LogoNavBar */
@keyframes apparitionLogo {
    0% {
        opacity: 0;
        transform: translateY(10px); 
    }
    80% {
        opacity: 0; 
    }
    100% {
        opacity: 1; 
        transform: translateY(0);
    }
}

@keyframes disparitionLogo {
    0% {
        opacity: 1;
        transform: scale(1); 
    }
    100% {
        opacity: 0; 
        transform: scale(0.8);
    }
}

nav .links a {
    position: sticky;
    color: white;
    margin-left: 20px;
    text-decoration: none;
    border: 10px solid black;
    border-radius: 40px;
    background-color: black ;

}

nav .links a:hover {
/*    background-color: rgba(153, 153, 153);
    border: 10px solid rgba(153, 153, 153); */
    border-radius: 40px;
    box-shadow: 0px 0px 0px #525252;
    box-shadow: 4px 4px 4px #525252;
}

nav .links .active{
    font-weight: bold;
    box-shadow: 0px 0px 0px #525252;
}

main {

    flex: 1;
    overflow: visible;
    width: 100%;
    text-align: start;
    padding-left: 10px;
    padding-right: 10px;


    opacity: 0; 
    animation: apparitionLogo linear both;
    animation-timeline: scroll();
    animation-range: 0px 80vh;
}

main h1 {
    text-align: center;
}

footer {
    color: white;
    background-color: #000000;
    text-align: center;
}