html, body{
    height: 100%;
    margin: 0;
    gap: 0;
    scroll-behavior: smooth;
    scrollbar-width: none;

}

body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    min-height: 300vh;
}

header {
  /* C'est ici que tout se joue */
  position: sticky;
  /* On dit : Colle-toi quand le haut du header est à -200px */
  /* Donc, les 200 premiers pixels (le gros logo) vont sortir de l'écran avant que ça bloque */
  top: -100%; 
  z-index: 1000;
  background-color: white; 
}

/* Gros Logo*/
.BoxBigLogo {
  height: 100vh; /* Doit correspondre à la valeur négative du top */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
}

.BigLogo {
  height: 100px; /* Taille de ton image géante */
}

/* NavBar */
nav {
  height: 60px; /* Hauteur de la barre qui reste */
  background-color: rgb(224, 224, 224); /* Fond noir pour le contraste */
  display: flex;
  align-items: center;
  padding: 0 20px;
  color: black;
  border-radius: 40px;
  border: 2px solid rgba(192, 192, 192, 0.616);
  box-shadow: 0px 4px 4px #797979;
  justify-content: space-between; 
}

/* Petit Logo  */
.LittleLogo {
    height: 40px; /* Une taille raisonnable pour la nav */
    width: auto;
    
    opacity: 0; 
    
    animation: apparitionLogo linear both;
    
    animation-timeline: scroll();
    
    animation-range: 0px 60vh;
}

/* L'animation LogoNavBar */
@keyframes apparitionLogo {
    0% {
        opacity: 0;
        transform: translateY(10px); 
    }
    80% {
        opacity: 0; 
    }
    100% {
        opacity: 1; 
        transform: translateY(0);
    }
}

nav .links a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    border: 10px solid black;
    border-radius: 40px;
    background-color: black ;
    box-shadow: 0px 4px 4px #525252;
}

nav .links a:hover {
    background-color: rgba(153, 153, 153);
    border: 10px solid rgba(153, 153, 153, 0.637);
    border-radius: 40px;
    box-shadow: 0px 0px 0px #525252;
}

nav .links .active{
    font-weight: bold;
    box-shadow: 0px 0px 0px #525252;
}

main {

    flex: 1;
    overflow: visible;
    width: 100%;
    text-align: start;
    padding-left: 10px;
    padding-right: 10px;
}

main h1 {
    text-align: center;
}

footer {
    color: white;
    background-color: #000000;
    text-align: center;
}